body {
    font-family: sans-serif;
}

.header {
    background-color: #1f2937;
}

.logo,
.hero-heading {
    color: #f9faf8;
}

.hero-subheading {
    color: #e5e7eb;
}

.info-heading {
    color: #1f2937;
}

.info-card img {
    border: 4px solid #3882F6;
    border-radius: 8px;

}

.info-text {
    color: #1f2937;
}